<%
/**
 * Copyright 2017 Adobe Systems Incorporated. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 */
%>
<li>
  <div style = "font-size:x-large"><b><%- schema["title"] %></b></div>
  <br>
  <div> <span style = "font-size:large">Description: </span> <%- schema["description"] %></div>
  <% if (schema["note"]) { %>
    <br>
    <div>Note: <%- schema["note"] %></div>
  <% } %>
  <%
  function getType(valueObject) {
    if( valueObject["format"] )
      return valueObject["format"];
    else
      return valueObject["type"];
  }
  %>
  <br>
  <div style = "font-size:large"><b>Properties:</b></div>
  <div class=" table " data-dist-id="table_246994025">
    <table width="100%" cellspacing="0" cellpadding="1" border="1">
      <thead>
        <tr>
          <th>Name</th>
          <th>JSON Name</th>
          <th>Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
      <% _.forOwn(schema.properties, function (value,prop) { %>
        <tr>
          <td align = "center"><b><%- prop %></b></td>
          <td><%- prop %></td>
          <td><%- getType(value) %></td>
          <td><%- value["description"] %></td>
        </tr>
      <% }); %>
      </tbody>
    </table>
  </div>
</li>

