<%
/*************************************************************************
 *
 * ADOBE CONFIDENTIAL
 * ___________________
 *
 *  Copyright 2016 Adobe Systems Incorporated
 *  All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 **************************************************************************/
%>
<li>
  <div style = "font-size:x-large"><b><%- clazz[consts.RDFS_LABEL] %></b></div>
  <br>
  <div> <span style = "font-size:large">Description: </span> <%- clazz[consts.RDFS_COMMENT] %></div>
  <% if (clazz[consts.SKOS_NOTE]) { %>
    <br>
    <div>Note: <%- clazz[consts.SKOS_NOTE] %></div>
  <% } %>
  <br>
  <div style = "font-size:large"><b>Properties:</b></div>
  <div class=" table " data-dist-id="table_246994025">
   <table width="100%" cellspacing="0" cellpadding="1" border="1">
   <thead><tr><th>Name&nbsp;</th>
   <th>Type</th>
   <th>Description</th>
   <th>Example</th>
   </tr></thead>
   <tbody>
   <% _.forEach(clazz.properties, function (prop) { %>
    <tr>
	   <td align = "center"><b><%- prop[consts.RDFS_LABEL] %></b></td>  
	   <td><%- model.dataTypes[prop[consts.RDFS_RANGE]][consts.RDFS_LABEL] %> </td> 
	   <td><%- prop[consts.RDFS_COMMENT] %></td>
	   <td><%- prop[consts.SKOS_EXAMPLE] %></td>
	</tr>   
   <% }); %>
   </tbody>
  </table>
  </div>
</li>

